body {
    display: flex;
    justify-content: center;
    background: whitesmoke;
}

.index {
    background: red;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    display: flex;

}

.item {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.index h4 {
    height: 80px;
}


.userComments {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;

}

.cardComments h4 .cardComments h5 {
    margin: 5px;
}
