body {
    /*width: 1000px;*/
    height: 1000px;
    display: block;
    justify-content: normal;
    margin: 15px 0 0 170px;
    flex-wrap: wrap;
    background: black;


}

.target {
    width: 1000px;
    height: 70px;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    margin: 3px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #b3d4fc;
    flex-wrap: wrap;
    font-weight: 700;
    border: 1px solid black;
    backgroun: цвет
}


.a{
    color: mediumpurple;
}
.userDiv {
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3px;
    font-size: 20px;
    color: black;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.50), 0 10px 10px rgba(0, 0, 0, 0.50);
    background: red;
}
